registry=http://r.npm.sankuai.com
disturl=http://npm.sankuai.com/dist/node
sass_binary_site=http://npm.sankuai.com/dist/node-sass
phantomjs_cdnurl=http://npm.sankuai.com/mirrors/phantomjs
profiler_binary_host_mirror=http://npm.sankuai.com/mirrors/node-inspector/
fse_binary_host_mirror=http://npm.sankuai.com/mirrors/fsevents/
